cryptography
Django
djangorestframework
dj-database-url
dj-rest-auth
django-allauth
django-storages
django-environ
django-on-heroku
environ
gunicorn
redis
pip-chill
pysocks
uvicorn
virtualenv
whitenoise
stripe